.charts .charts__country {
    display: flex;
    align-items: center;
    height: minmax(10em, fit-content);
    width: 100%;
    justify-content: space-between;
}

.charts {
    width: 90%;
    margin-right: 2em;
}

@media (max-width: 1150px) {
    .charts {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .charts .charts__country {
        flex-direction: column;
        height: fit-content;
        width: 90%;
        margin: 0 auto
    }
}