.chart {
    border: 1px solid rgb(207, 206, 206);
    border-radius: 7px;
    width: 100%;
    padding: 2em 0;
    font-family: 'Montserrat', sans-serif;
    margin: 2em 0;
}

.chart div {
    width: 70%;
    margin: 0 auto;
}

.chart div p {
    width: fit-content;
    margin: 1em auto 0;
    font-size: 1.3em;
}

@media (max-width: 800px) {
    .chart {
        width: 100%;
        margin: 2em auto;
        padding: 1em 0;
    }
    .chart div {
        width: 100%;
    }
}